*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2{
    font-family: 'Open Sans', sans-serif;
}

.dm{
    color: #FD6E0A;
}
.nev-h2{
    color:#181818;              
    font-size: 45px;
    font-weight: 800;
    line-height: normal;
}

nav > ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-right: 20px;
    font-family: 'Open Sans', sans-serif;

}

li a{
    text-decoration: none;
}

.btn-prim{
        border-radius: 5px;
        font-family: 'Open Sans', sans-serif;
        background: #FD6E0A; 
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        color: white;
        border: none;
        padding: 12px 16px;
}