/* Nav styling starts here */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

h2{
    font-family: 'Open Sans', sans-serif;
}

.dm{
    color: #FD6E0A;
}
.nev-h2{
    color:#181818;              
    font-size: 45px;
    font-weight: 800;
    line-height: normal;
}

nav > ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-right: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;

}

li a{
    text-decoration: none;
}
/* button styling starts here */
.btn-prim{
        border-radius: 5px;
        font-family: 'Open Sans', sans-serif;
        background: #FD6E0A; 
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        color: white;
        border: none;
        padding: 12px 16px;
}

.header{
    background-color: #ffe8d78d;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;   
    background-position: bottom right;
}
/* Banner styles starts here */
.banner{
    padding: 30px 30px 0 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content{
    max-height: 837px;
}

.banner .Profile-pic{

    width: 610px;
    margin-top: ;
}

.banner-head{
    font-size: 28px;    
    margin-bottom: 0; 
    margin-left: -16px;
    font-family: 'Merriweather', serif;
   
}

.banner-title{
    font-size: 85px;
    font-weight: 700;   
    margin-top: 5px;
    margin-left: -25px;
    margin-bottom: 0;
    font-family: 'Merriweather', serif;
}

.banner-P{
    font-size: 18px;
    font-weight: 400;
    margin-top: 0;
    margin-left: -23px;
    font-family: 'Merriweather', serif;
}

.about{

      border-radius: 10px;
      background: #FFF8F3;
      padding: 130px;
      margin-top: 20px;
    margin: 40px;
    }

.about-head{
        color:#181818;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 35px;
        font-weight: 700;
}

.about-dec{
        color:#757575;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
}