/* Nav styling starts here */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

h2{
    font-family: 'Open Sans', sans-serif;
}

.dm{
    color: #FD6E0A;
}
.nev-h2{
    color:#181818;              
    font-size: 45px;
    font-weight: 800;
    line-height: normal;
}

nav > ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-right: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;

}

li a{
    text-decoration: none;
}
/* button styling starts here */
.btn-prim{
        border-radius: 5px;
        font-family: 'Open Sans', sans-serif;
        background: #FD6E0A; 
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        color: white;
        border: none;
        padding: 12px 16px;
}

.header{
    background-color: #ffe8d78d;
    /* margin: 30px 30px 30px 150px; */
}
/* Banner styles starts here */
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}

.banner .Profile-pic{

    width: 500px;

}